<!DOCTYPE HTML>
<html lang="en">
  <head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta charset="utf-8">
    <title>CRUNCH Results</title>
    <meta name="description" content="">
    <meta name="keywords"    content="">
    <META HTTP-EQUIV="refresh" CONTENT="300">
  </head>
  <body style="padding: 0px;text-align: center;">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49924751-1', 'unibas.ch');
  ga('send', 'pageview');

</script>
    <br>
    <h1>Please save this page address or bookmark it if you have not provided your e-mail address during submission! Your results will be shown here in couple hours.</h1>
    <hr>
    <br>
    <img src="http://mara.unibas.ch/img/loader.gif" alt=\"loader\">
    <br>
    <h2>Status: Computing</h2>
    <br>
    <hr>
    <br>
    <h2><a href="{{ conf['root_url'] }}">Back to ChIP-CRUNCH</a></h2>
  </body> 
</html>
