<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>CRUNCH Motif Page</title>
<meta name="description" content="ISMARA - Integrated Motif Activity Response Analysis is a free online
                                      tool that recognizes most important transcription factors that
                                      are changing their activity in a set of samples.">
<meta name="keywords"    content="swissregulon, human, mouse,
                                      affymetrics, microarray,
                                      Erik van Nimwegen,
                                      Swiss Institute of Bioinformatics,
                                      Biozentrum University of Basel">
<link rel="stylesheet" href="css/index.css" type="text/css">
<link rel="stylesheet" href="css/jquery.dataTables.css" type="text/css">
<link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49924751-1', 'unibas.ch');
  ga('send', 'pageview');

</script>
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<ul id="nav_main" class="nav nav-pills">
  <li class="active"><a href="#">Statistics</a></li>
  <li><a href="#top_motifs">Top similar motifs</a></li>
  <li><a href="#plots">Plots</a></li>
  <li><a href="#downloads">Downloads</a></li>
</ul>
</div>
</div>

<h1>{{name_unquote}}</h1>

<br>
<a href="{{logo}}"><img src="{{logo}}" class="motif_logo_big" alt="motif logo"></a>
<a href="{{logo_rev}}"><img src="{{logo_rev}}" class="motif_logo_big" alt="reverse compliment motif logo"></a>
<br>
<ul>
<li>Enrichment: {{score}}</li>
<li>log-Likelihood Ratio: {{LLratio}}</li>
<li>Precision and Recall: {{auc}}</li>
<li>Prediction - Observation Correlation: {{fov}}</li>
<li>Enrichment at Binding Sites: {{eabs}}</li>
<li>Number of Positively Predicted Peaks: {{truepeaks}}</li>
</ul>
<br>

<h2 id="top_motifs">Top Similar Looking Motifs:</h2>

<table id="similarity_table">
  <thead>
  <tr>
    <th>Motif Name</th>
    <th>Distance to Query Motif</th>
    <th>Logo</th>
  </tr>
  </thead>
  <tbody>
  {% for sim in similar %}
  <tr>
    <td>{{sim.name}}</td>
    <td>{{sim.dist}}</td>
    <td><a href="{{sim.logo}}"><img src="{{sim.logo}}" class="motif_logo" alt="motif logo"></a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<br>

<h2 id="plots"> Plots </h2>
<a href="{{sens_spec}}"><img class="standard_img" src="{{sens_spec}}" alt="sensitivity plot"></a>

<a href="{{zscore_post}}"><img class="standard_img" src="{{zscore_post}}" alt="zscore-posterior correaltion"></a>

<a href="{{eabs_hist}}"><img class="standard_img" src="{{eabs_hist}}" alt="enrichment plot"></a>

<h2 id="downloads">Downloads</h2>
<ul>
<li><a href="{{file}}">WM file</a></li>
<li><a href="{{report_pdf}}">Report PDF</a></li>
</ul>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/bootstrap/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>


</body>
</html>
